.userDetail .avatar{
  margin-left: 40px;
  margin-bottom: 10px;
}

.userDetail input, select {
  display: block;
  width: 100%;
  max-width: 240px;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  background: #282A2D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #c17e03;
}

.userDetail input:nth-of-type(3) {
  background: #191a1c;
}

.userDetail button {
  width: 100%;
  max-width: 240px;
  height: 40px;
  margin: 0;
  border-radius: 10px;
}
