.repertory {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.repertory .btnAdicionar {
  padding: 10px 62px;
  border-radius: 10px;
  cursor: pointer;
  background: #E19200;
  border: none;
  /* border: 1px solid #E19200; */
  color: #070707;
  display: block;
  margin-bottom: 20px;
}