.repertory {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.repertory .btnAdicionar {
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
  background: #070707;
  border: none;
  border: 1px solid #E19200;
  color: #E19200;
  display: block;
  margin-bottom: 20px;
}