.overlay {
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}

.box-register-album {
  position: relative;
  width: 330px;
  height: 140px;
  background: #282A2D;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.avatar-album-register  {
  display: flex;
  align-items: center;
}

.avatar-album-register img {
  width: 113px;
}

.box-register-album input {
  width: 100%;
  height: 33px;
  border-radius: 20px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;
}

.box-register-album button {
  width: 100%;
  margin-top: 0;
}

.album-description-register {
  margin-left: 10px;
}

.btnExit {
  position: absolute;
  max-width: 22px;
  height: 21px;
  top: -24px;
  right: 0px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #C17E03;
}

.form-album {
  margin: 0;
  padding: 0;
   display: flex;
  justify-content: space-between;
}
